package {{.Package}}.feature.{{.FeatureName}}.data.repository

import {{.Package}}.feature.{{.FeatureName}}.domain.repository.{{.FeatureNameTitle}}Repository

class {{.FeatureNameTitle}}RepositoryImpl : {{.FeatureNameTitle}}Repository {
    // TODO: implement
}
