package {{.Package}}.feature.{{.FeatureName}}.domain.repository

import {{.Package}}.feature.{{.FeatureName}}.domain.model.{{.FeatureNameTitle}}

interface {{.FeatureNameTitle}}Repository {
    // TODO: define {{.FeatureName}} repository methods
}
