package {{.Package}}.feature.{{.FeatureName}}.domain.usecase

import {{.Package}}.feature.{{.FeatureName}}.domain.repository.{{.FeatureNameTitle}}Repository

class Get{{.FeatureNameTitle}}UseCase(
    private val repository: {{.FeatureNameTitle}}Repository
) {
    // TODO: implement use case
}
